.banner {
    background: url('../../../assets/images/banner.jpg')center no-repeat;
    background-repeat: no-repeat;
    height: 712px;
}

.details {
    display: flex;
    margin: -77px 112px 0 112px;
    /* height: 1000px; */
}

.right {
    background-color: white;
    width: 33.33%;
    height:auto;
    border-radius:10px 10px 0 0 ;
}

.left {
    background-color: white;
    width: 66.66%;
    margin-right: 49px;
    padding: 47px 22px;
}

.links {
    display: flex;
    align-items: center;
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(110, 106, 106);
}

.links .link-item {
    margin-right: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.links .link-item:hover {
    color: rgb(182, 141, 37);
    font-weight: 500;
    /* border-bottom: 1px solid rgb(182, 141, 37); */
}

.title {
    border-bottom: 1px solid rgb(110, 106, 106);
}

.title h1 {
    margin: 40px 0;
    font-family: var(--heading-font-family);
}

.overview {
    margin-top: 40px;
}

.rate-review-meals {
    display: flex;
    align-items: center;

}

.rate-review-meals div {
    margin-left: 40px;
    display: flex;
    align-items: center;
}

.resturant-tags {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.tags {
    border: 1px solid rgb(158, 154, 154);
    border-radius: 49px;
    padding: 10px 20px;
    margin-left: 10px;
}

.body {
    margin-top: 40px;
    font-size: 20px;
    line-height: 30px;
}

.read-more {
    font-size: 20px;
    display: flex;
    align-items: center;
    color: rgb(182, 141, 37);
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

.read-more-btn {
    /* clip-path: circle(); */
    position: relative;
    border-radius: 50%;
    border: 2px solid rgb(182, 141, 37);
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.read-more-btn p {
    position: absolute;
    top: -20%;
    left: 25%;
}

.photos {
    margin-top: 80px;
}

.photos h2 {
    border-bottom: 1px solid rgb(110, 106, 106);
    padding-bottom: 30px;
}

.photo-tab {
    margin-top: 37px;
    margin-bottom: 20px;
}

.photo-tab ul {
    padding-bottom: 37px;
}

.pics {
    column-count: 4;
    column-gap: 7px;
    margin-bottom: 80px;
    overflow: hidden;
}

.pics .img img {
    width: 100% !important;
    height: auto !important;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
}

.pics .img img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.img {
    overflow: hidden;
}

.reviews h2 {
    border-bottom: 1px solid rgb(110, 106, 106);
    padding-bottom: 30px;
}

.reviews .para {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

.ratings {
    display: flex;
    width: 100%;
}

.review-text {
    width: 50%;
    margin-right: 50px;
}

.review-text p {
    font-size: 17px;
    line-height: 30px;
}

.review-graph {
    width: 50%;
}

.star {
    display: flex;
    align-items: center;
}

.service-ratings {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.sub {
    margin-right: 20px;
    text-align: center;
    /* margin: 0 20px; */
}

.extra {
    margin-left: 20px;
}

.seperator {
    width: 1px;
    height: 50px;
    background: rgb(110, 106, 106);
}

.level {
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
    border: 1px solid black;
    background: transparent;
}

.level5, .level4, .level3, .level2, .level1 {
    width: 100%;
    height: 25px;
    background-color: #AA8200;
}

.level5 {
    width: 70%;
}

.level4 {
    width: 50%;
}

.level3 {
    width: 30%;
}

.level2 {
    width: 20%;
}

.level1 {
    width: 10%;
}

.rate-detail {
    display: flex;
}

.rate-detail p {
    margin-right: 20px;
}
.attarch{
    width: 15px;
    fill: black !important;
    margin-right:13px;
    align-content: space-around;
    /* margin:30px 0 0 0; */
}
.restaurant-map{
    margin: 20px 30px 20px 30px;
    border-radius: 10px;
    height:200px;
    border: 20px solid white;
    box-shadow: 10px;
    
}
.rest-detail-left{
    margin:20px 30px 10px 30px ;
}
.rest-span{
    display:block;
    width: 250px;
    margin:10px 0px 10px 0px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
}
.rest-span>span{
    padding:10px;
}
.rest-detail-left-head{
    margin:10px 0 5px 0px;
    font-family: Lato;
    font-weight: 400;
}
/* .rest-detail-left-head>img{
    padding: 50%;
} */
.rest-detail-left-item{
    font-size: small;
    margin:5px 0 10px 30px;
}
/* img {
    width: 100%;
    height: inherit;
} */

/* modal-style */

.modal-overlay {
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    animation-duration: 0.4s;
    animation-name: fadeIn;
}

.modal-box {
    margin: 5% auto;
    background: #FFFFFF;
    width: 70%;
    padding: 15px;
}

.modal-box .head {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.modal-box .head p {
    font-weight: 600;
    color: red;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


