.footer {
    height: 200px;
    background: #000B14;
    color: white;
    padding-top: 24px;
    margin-top: 150px;
}

.footer > .text {
    margin-left: 112px;
    font-size: 20px;
    line-height: 24px;
}

.first {
    margin-bottom: 10px;
}

.second {
    font-size: 18px;
}
