<div class="cards">
    <div class="card" *ngFor="let resturant of resturantThumbnail">
        <div class="img">
            <img routerLink="/resturants/{{resturant.id}}" [src]="resturant.rest_image" alt="">
        </div>
        <div class="text">
            <h3>{{ resturant.name }}</h3>
            <star-rating [value]="resturant.rating" [totalstars]="5" checkedcolor="goldenrod" uncheckedcolor="gray" size="30px" [readonly]="false" (rate)="onRate($event)"></star-rating>
            <p>{{resturant.location.city}} {{resturant.price_range}}</p>
            <p class="booked">Booked {{resturant.no_of_book}} times today</p>
            <button routerLink="/resturants/{{resturant.id}}">Take a Tour</button>
        </div>
    </div>
</div>

